.modal-create {
   display: flex;
   flex-direction: column;
   min-height: calc(
      96vh - calc(
            max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         ) - calc(
            var(--tg-viewport-safe-area-inset-top) +
               var(--tg-viewport-content-safe-area-inset-top)
         ) -
         2.25rem
   );
   max-height: calc(
      96vh - calc(
            max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         ) - calc(
            var(--tg-viewport-safe-area-inset-top) +
               var(--tg-viewport-content-safe-area-inset-top)
         ) -
         2.25rem
   );
}

.modal-create-public,
.modal-create-category,
.modal-create-anonymous {
   height: 80vh;
}
