.modal-placement {
   display: flex;
   flex-direction: column;
   min-height: calc(
      96vh - calc(
            var(--tg-viewport-safe-area-inset-bottom) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         ) - calc(
            var(--tg-viewport-safe-area-inset-top) +
               var(--tg-viewport-content-safe-area-inset-top)
         ) -
         2.25rem
   );
   max-height: calc(
      96vh - calc(
            var(--tg-viewport-safe-area-inset-bottom) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         ) - calc(
            var(--tg-viewport-safe-area-inset-top) +
               var(--tg-viewport-content-safe-area-inset-top)
         ) -
         2.25rem
   );

   > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      overflow: hidden;

      > section:nth-child(2) {
         flex-grow: 1;
         overflow: hidden;
         flex-shrink: unset;

         > div {
            overflow: hidden;

            > div {
               overflow: hidden;
               overflow-y: auto;
               flex-shrink: unset;

               > div {
                  flex-shrink: 0;

                  &:nth-child(1) {
                     color: var(--accent);

                     > div.prepend {
                        width: 2rem;
                        font-size: 1.125rem;
                     }
                  }
               }
            }
         }
      }

      > footer {
         display: flex;
         align-items: center;
         gap: 1rem;
         width: 100%;

         > button {
            flex-shrink: unset;
         }
      }
   }
}
