#container-page-contest-manage-moderators {
   overflow: hidden;

   > div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      > header {
         display: flex;
         align-items: center;
         padding: 1rem 1rem 0;
         gap: 1rem;

         > div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            > h1 {
               flex-grow: 1;
               font-size: 1.5rem;
               font-weight: 600;
            }

            > p {
               color: rgba(var(--text-color-rgb), 0.5);
               font-size: 0.9375rem;
               line-height: 1.325;
            }
         }

         > ul {
            color: var(--accent);
         }
      }
   }

   > footer {
      display: flex;
      padding: 0 1rem;
      gap: 0.5rem;
      border-top: 1px solid rgba(var(--text-color-rgb), 0.125);
      flex-shrink: 0;
      padding: 0.5rem 1rem
         calc(
            max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         );
      background-color: var(--bottom-bar-color);

      > button {
         flex: 1;
      }
   }
}

#container-contest-moderators-empty {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.125rem;
   flex-grow: 1;
   height: 100%;
   text-align: center;

   .lottie-animation {
      width: 8rem;
   }

   > span {
      font-size: 1rem;
   }
}

#container-contest-moderators {
   padding: 1rem;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   padding-bottom: calc(
      max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
         var(--tg-viewport-content-safe-area-inset-bottom)
   );

   > section {
      overflow: hidden;
      flex-shrink: unset;

      > div {
         overflow: hidden;
         overflow-y: auto;

         > div {
            overflow: hidden;
            flex-shrink: 0;

            > div {
               height: 3.625rem;
               padding-inline-end: 1rem;

               &:has(.prepend)::after {
                  inset-inline-start: 4rem;
               }

               > div.prepend {
                  flex-shrink: 0;

                  > div.avatar {
                     font-size: 2.5rem;
                  }
               }

               > span {
                  font-size: 1rem;
                  font-weight: 500;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  flex-shrink: unset;
               }

               div.placeholder {
                  flex-shrink: 0;
               }

               div.placeholder {
                  > svg {
                     flex-shrink: 0;
                     font-size: 1.5rem;
                     color: var(--accent);
                  }
               }
            }
         }
      }
   }
}

#container-contest-moderators-loading {
   flex-grow: 1;
   padding: 1rem;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   padding-bottom: calc(
      max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
         var(--tg-viewport-content-safe-area-inset-bottom)
   );

   > div {
      width: 100%;
      flex-grow: 1;
      border-radius: 0.75rem;
   }
}
