#container-page-contest-manage-options {
   padding-top: 0;
   gap: 0;
   overflow: hidden;

   > div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      overflow: hidden;
      overflow-y: auto;
      padding-bottom: 1rem;

      &.theme {
         #container-page-create-section-header {
            &::before {
               position: absolute;
               z-index: -1;
               inset: 0;
               content: "";
               background: var(--theme-bg);
            }

            > div#container-page-create-section-header-content {
               > div#container-page-create-section-header-content-image {
                  > button {
                     background-color: rgba(var(--text-color-rgb), 0.125);

                     > svg {
                        color: var(--theme-text);
                     }
                  }

                  > span {
                     color: var(--theme-text);
                  }
               }
            }
         }
      }
   }

   > footer {
      border-top: 1px solid rgba(var(--text-color-rgb), 0.125);
      flex-shrink: 0;
      padding: 1rem 1rem
         calc(
            max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         );
      background-color: var(--bottom-bar-color);
   }
}

#container-contest-options-loading {
   display: flex;
   flex-direction: column;
   padding: 0;
   flex-grow: 1;
   gap: 1rem;

   > div {
      width: 100%;
      height: calc(
         var(--tg-viewport-safe-area-inset-top, 0) +
            var(--tg-viewport-content-safe-area-inset-top, 0) + 10rem
      );
   }

   > section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0 1rem;

      > div {
         flex-grow: 1;
         width: 100%;
         height: 100%;
         border-radius: 0.6875rem;
      }
   }

   > footer {
      padding: 0 1rem;

      > div {
         width: 100%;
         height: 3.125rem;
         border-radius: 0.6875rem;
      }
   }
}

#container-page-contest-manage-options-delete {
   padding: 0 1rem;

   > button {
      display: flex;
      align-items: center;
      background-color: var(--section-bg-color);
      padding: 0 1rem;
      border-radius: 0.75rem;
      width: 100%;
      gap: 1rem;
      color: var(--tg-theme-destructive-text-color);
      height: 2.75rem;
   }
}
