#container-page-contest-manage-settings {
   overflow: hidden;

   > div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-bottom: calc(
         max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
            var(--tg-viewport-content-safe-area-inset-bottom)
      );
      gap: 1rem;

      > header {
         display: flex;
         align-items: center;
         padding: 1rem 1rem 0;
         gap: 1rem;

         > h1 {
            flex-grow: 1;
            font-size: 1.25rem;
            font-weight: 600;
         }

         > ul {
            color: var(--accent);

            > li {
               padding-top: 0.0625rem;
               padding-bottom: 0.0625rem;
            }
         }
      }

      > div {
         padding: 0 1rem;

         > swiper-container {
            > swiper-slide {
               > .page {
                  height: 100%;
                  padding: 0;

                  > div {
                     padding: 0;

                     > header {
                        display: none;
                     }

                     > div {
                        padding: 0;
                     }

                     > footer {
                        padding: 0;
                     }
                  }
               }
            }
         }
      }
   }
}
