#container-page-create {
   padding-top: 0;
   gap: 0;
   overflow: hidden;

   > div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      overflow: hidden;
      overflow-y: auto;
      padding-bottom: 1rem;

      &.theme {
         #container-page-create-section-header {
            &::before {
               position: absolute;
               z-index: -1;
               inset: 0;
               content: "";
               background: var(--theme-bg);
            }

            > div#container-page-create-section-header-content {
               > div#container-page-create-section-header-content-image {
                  > button {
                     background-color: rgba(var(--text-color-rgb), 0.125);

                     > svg {
                        color: var(--theme-text);
                     }
                  }

                  > span {
                     color: var(--theme-text);
                  }
               }
            }
         }
      }
   }

   > footer {
      border-top: 1px solid rgba(var(--text-color-rgb), 0.125);
      flex-shrink: 0;
      padding: 1rem 1rem
         calc(
            max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
               var(--tg-viewport-content-safe-area-inset-bottom)
         );
      background-color: var(--bottom-bar-color);
   }
}

#container-page-create-sections {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   gap: 0.875rem;
   /* overflow: hidden;
   overflow-y: auto; */
}

#container-page-create-section-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: calc(
      max(var(--tg-viewport-safe-area-inset-top), 0.875rem) +
         var(--tg-viewport-content-safe-area-inset-top)
   );
   padding-bottom: 0.875rem;
   position: relative;
   z-index: 0;
   flex-shrink: 0;

   > div#container-page-create-section-header-backdrop {
      inset: 0;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      top: calc(var(--tg-viewport-content-safe-area-inset-top));

      > canvas {
         position: absolute;
         z-index: -1;
         bottom: 0;
         height: 100%;
         width: auto;
         left: 50%;
         transform: translate(-50%) scale(0.5);
         opacity: 0;
         transition:
            opacity calc(0.25s * var(--motion-multiplier)) ease-in-out,
            transform calc(0.25s * var(--motion-multiplier)) ease-in-out;
         transform-origin: center;
         will-change: transform;
         position: absolute;

         &.loaded {
            opacity: 1;
            transform: translate(-50%) scale(1);
         }
      }
   }

   > div#container-page-create-section-header-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > div#container-page-create-section-header-content-image {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.875rem;

         > button {
            width: 6.25rem;
            height: 6.25rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-color: var(--segmented-bg);
            cursor: pointer;

            > svg {
               font-size: 2rem;
               color: rgba(var(--text-color-rgb), 0.5);
            }

            > canvas {
               width: 100%;
               height: 100%;
            }
         }

         > span {
            font-size: 0.9375rem;
            color: var(--accent);
         }
      }
   }
}

#container-page-create-section-themes {
   flex-shrink: 0;

   > section {
      > span {
         padding-inline-start: 2rem;
         display: flex;
         justify-content: space-between;
         align-items: flex-end;

         > div {
            > svg {
               color: var(--accent);
               font-size: 1.25rem;
            }
         }
      }

      > div {
         background-color: transparent;
         border-radius: 0;
      }
   }
}

#container-page-create-section-info {
   padding: 0 1rem;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   flex-shrink: 0;
   max-height: 15rem;

   > section {
      flex-grow: 1;
      flex-shrink: unset;
      overflow: hidden;

      > div {
         display: flex;
         flex-direction: column;
         flex-grow: 1;

         > div:nth-child(1) {
            position: relative;

            &::after {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               inset-inline-end: 0;
               inset-inline-start: 1rem;
               border-bottom: 1px solid rgba(var(--text-color-rgb), 0.1875);
               pointer-events: none;
            }

            > input {
               padding-inline-start: 1rem;
               width: 100%;
               height: 2.75rem;
            }
         }

         > div:nth-child(2) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;
            min-height: 10rem;

            > div {
               > div#editor {
                  border-radius: 0.6875rem;
                  padding: 0.75rem 1rem;
               }

               #editor-placeholder {
                  top: 0.75rem;
                  inset-inline-start: 1rem;
               }
            }
         }
      }
   }
}

#container-page-create-section-instruction {
   padding: 0 1rem;
   flex-shrink: 0;

   > section {
      > div {
         display: flex;
         flex-direction: column;
      }
   }
}

textarea#input-instruction {
   flex-grow: 1;
   border-radius: 0.6875rem;
   padding: 0.75rem 1rem;
   min-height: 8rem;

   &::placeholder {
      color: rgba(var(--text-color-rgb), 0.5);
   }
}

#container-page-create-section-options {
   padding: 0 1rem;
   flex-shrink: 0;
}

#container-page-create-section-participants {
   padding: 0 1rem;
   flex-shrink: 0;
}

#container-page-create-section-wallet,
#container-page-create-section-done {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 0 1rem;
   padding-top: calc(
      max(var(--tg-viewport-safe-area-inset-top), 0.875rem) +
         var(--tg-viewport-content-safe-area-inset-top)
   );

   .lottie-animation {
      width: 10rem;
   }

   > h1 {
      font-size: 1.25rem;
      font-weight: 600;
      padding-top: 1rem;
   }

   > p {
      font-size: 0.9375rem;
      text-align: center;
      line-height: 1.625;
   }
}

#container-page-create-section-wallet {
   > span {
      text-align: center;
      font-size: 0.75rem;
   }

   > #btn-connect {
      cursor: pointer;
      margin-top: 1rem;
      background-color: #0098ea;
      color: white;
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      gap: 0.75rem;
      border-radius: 100rem;

      > svg {
         font-size: 1rem;
      }

      > div {
         > span {
            font-weight: 500;
            font-size: 0.9375rem;
         }
      }
   }
}

.input-fee {
   padding-inline-end: 1rem;
   gap: 0.5rem !important;

   > svg {
      opacity: 0.75;
   }

   > input {
      padding-inline-end: 0 !important;
   }
}

cropper-canvas {
   position: fixed;
   inset: 0;
}

cropper-shade {
   outline: var(--theme-color) solid 1px;
}

.symbol-picker-anchor {
   padding: 0 1rem;
}

.create-symbol-picker {
   --height: 15rem;
}

.container-page-create-section-options-deadline {
   > div.placeholder {
      > div.container-datepicker {
         background: transparent;
         border-radius: 0;
         border: none;
         outline: none;
         padding: 0.625rem 0;
         margin: 0;
         padding-inline-end: 1rem;
         padding-inline-start: 3rem;

         > div {
            color: rgba(var(--text-color-rgb), 0.5);
            font-weight: normal;
            font-size: 1rem;
         }
      }
   }
}
