#container-page-create {
   > div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
   }
}

#container-create {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   overflow: hidden;
}

#container-create-section-intro {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 0 1rem;

   > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 0 1rem;

      .lottie-animation {
         width: 10rem;
      }

      > h1 {
         font-size: 1.25rem;
         font-weight: 600;
         padding-top: 1rem;
      }

      > p {
         font-size: 0.9375rem;
         text-align: center;
         line-height: 1.625;
      }
   }
}

#container-create-section-basic {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 0 1rem;
   overflow: hidden;

   > div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      gap: 1rem;
      width: 100%;
      overflow: hidden;

      > header {
         display: flex;
         align-items: center;
         width: 100%;
         background-color: var(--secondary-color);
         border-radius: 0.6875rem;
         padding: 0.75rem;
         gap: 1rem;
         flex-shrink: 0;

         > button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var(--accent);
            position: relative;
            height: 3rem;
            width: 3rem;
            border-radius: 0.4375rem;
            cursor: pointer;
            outline: none;
            border: none;
            overflow: hidden;
            flex-shrink: 0;

            &::before {
               position: absolute;
               z-index: 0;
               background-color: var(--accent);
               opacity: 0.125;
               inset: 0;
               width: 100%;
               height: 100%;
               content: "";
               border-radius: inherit;
            }

            > svg {
               font-size: 1.625rem;
            }

            > canvas {
               width: 100%;
               height: 100%;
            }
         }

         > input {
            flex-grow: 1;
            font-size: 1.0625rem;
         }
      }

      > section {
         display: flex;
         align-items: center;
         width: 100%;
         flex-grow: 1;
         flex-direction: column;
         gap: 0.5rem;
         overflow: hidden;

         > div {
            background-color: var(--secondary-color);
            border-radius: 0.6875rem;
            padding: 0.625rem;
         }

         > p {
            font-size: 0.8125rem;
            width: 100%;
         }
      }

      > footer {
         flex-shrink: 0;
         display: flex;
         flex-direction: column;
         width: 100%;
         gap: 0.5rem;

         > span {
            text-transform: uppercase;
            font-size: 0.875rem;
         }

         > div {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
         }

         > p {
            font-size: 0.8125rem;
            width: 100%;
         }
      }
   }
}

cropper-canvas {
   position: fixed;
   inset: 0;
}

cropper-shade {
   outline: var(--theme-color) solid 1px;
}
