.badge {
   background-color: var(--accent);
   color: white;
   height: 1rem;
   font-size: 0.625rem;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   padding: 0.1875rem;
   font-weight: 500;
   border-radius: 0.25rem;
}
