#container-bottombar {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 100%;
   gap: 1rem;
   border-top: 1px solid rgba(var(--text-color-rgb), 0.0625);
   background-color: var(--bg-primary);
   padding: 0.5rem 1rem
      calc(
         max(var(--tg-viewport-safe-area-inset-bottom), 1rem) +
            var(--tg-viewport-content-safe-area-inset-bottom)
      );

   > a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.3125rem;
      transition:
         color 0.125s,
         opacity 0.125s;

      &[aria-current="page"] {
         opacity: 1;
         color: var(--accent);
      }

      > svg {
         font-size: 1.75rem;
      }

      > span {
         font-size: 0.75rem;
         font-weight: 500;
      }

      &.profile {
         > div {
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
            border: 0.125rem solid rgba(var(--text-color-rgb), 0.25);
            overflow: hidden;
            transition: border-color 0.125s;
         }

         &[aria-current="page"] {
            > div {
               border-color: var(--accent);
            }
         }
      }
   }
}
