:root {
   --white: #ffffff;
   --black: #000000;
   --white-rgb: 255, 255, 255;
   --black-rgb: 0, 0, 0;
   --text-color: var(--black);
   --text-color-rgb: var(--black-rgb);
   --secondary-color: #efeff4;
   --secondary-color-rgb: 239, 239, 244;
   --bg-color: var(--secondary-color);
   --bg-color-rgb: var(--secondary-color-rgb);

   --bottom-bar-color: #f2f2f2;
   --bottom-bar-color-rgb: 242, 242, 242;

   --modal-bg: var(--bg-color);

   --animate-duration: 0.5s;
   --animate-delay: 0;
   --animate-repeat: 1;

   --accent: var(--tg-theme-accent-text-color);

   --section-bg-color: #ffffff;

   --shimmer-bg: #d0d0d2;
   --shimmer-highlight: #e5e5e5;

   --shimmer-section-bg: #d5d5d5;
   --shimmer-section-highlight: #e5e5e5;

   --bg-primary: var(--bg-color);
   --bg-secondary: var(--section-bg-color);

   --segmented-bg: #e5e5ea;
   --segmented-active: #ffffff;
   --segmented-border: #d1d1d6;

   --motion-multiplier: 1;
}

body[data-theme="dark"] {
   color-scheme: dark;

   --text-color: var(--white);
   --text-color-rgb: var(--white-rgb);

   --secondary-color: #000000;
   --secondary-color-rgb: 0, 0, 0;

   --bg-color: var(--secondary-color);
   --bg-color-rgb: var(--secondary-color-rgb);

   --section-bg-color: #1c1c1d;

   --modal-bg: var(--bg-color);

   --shimmer-bg: #2a2a2a;
   --shimmer-highlight: #1a1a1a;

   --shimmer-section-bg: #343435;
   --shimmer-section-highlight: #252526;

   --bg-primary: var(--section-bg-color);
   --bg-secondary: var(--bg-color);

   --bottom-bar-color: #1d1d1d;
   --bottom-bar-color-rgb: 29, 29, 29;

   --segmented-bg: #1c1c1e;
   --segmented-active: #2c2c2e;
   --segmented-border: #3a3a3c;

   .container-section-list-switch {
      > button {
         background-color: #39393b;

         &.active {
            background-color: #81cb74 !important;
         }
      }
   }
}
