:root {
   --white: #ffffff;
   --black: #000000;
   --white-rgb: 255, 255, 255;
   --black-rgb: 0, 0, 0;
   --bg-color: var(--white);
   --bg-color-rgb: var(--white-rgb);
   --text-color: var(--black);
   --text-color-rgb: var(--black-rgb);
   --secondary-color: #efeef4;
   --secondary-color-rgb: 239, 238, 244;

   --modal-bg: var(--bg-color);

   --animate-duration: 0.5s;
   --animate-delay: 0;
   --animate-repeat: 1;

   --accent: var(--tg-theme-accent-text-color);

   --section-bg-color: #ffffff;

   --shimmer-bg: #e0e0e0;
   --shimmer-highlight: #f5f5f5;

   --motion-multiplier: 1;
}

body[data-theme="dark"] {
   --bg-color: var(--black);
   --bg-color-rgb: var(--black-rgb);
   --text-color: var(--white);
   --text-color-rgb: var(--white-rgb);

   --secondary-color: #000000;
   --secondary-color-rgb: 0, 0, 0;

   --section-bg-color: #1c1c1d;

   --modal-bg: var(--bg-color);

   --shimmer-bg: #2e2e2e;
   --shimmer-highlight: #3c3c3c;

   .container-section-list-switch {
      > button {
         background-color: #39393b;

         &.active {
            background-color: #81cb74 !important;
         }
      }
   }
}
